:root{
    --portfolio-purple: #6E53A1;
    --darker-purple: #382B50;
    --darker-purple-opacity: hsla(262, 23%, 30%, 0.76);
    --lighter-purple: #D5BFFF;
    --languid-lavender: #DCCDE8;
    --fiery-rose: #f45b69;
    --fiery-rose-opacity: #f45b68a1;
    --celadon-blue: #0081A7;
    --celadon-blue-opacity: #0080a7a7;
    --gold-crayola: #EFC88B;
    --lime-green: #6BD425;
    --dark-sea-green: #7FB285;
    --mantis: #7DC95E;
    --atomic-tangerine: #F49D6E;
    --atomic-tangerine-opacity: #f49d6e6c;
    --black: #252525;
    --light-black: #25252536;
    --no-opacity: #ffffff00;
    --white: #ffffff;
    --brown: #A57548;
    --blue: #82DDF0;
    --onyx: #3C3C3C;
   }
   
   
   
body {
     /* font-family: 'Noto Sans Display', sans-serif; */
     /* font-family: 'Dela Gothic One', cursive; */
     /* font-family: 'Poller One', cursive; */
     font-family: Inconsolata, sans-serif;
     font-size: 15px;
     color: var(--darker-purple);
     
   }

.grid{
    border: 1px solid var(--black);
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height:20px;
    width: 20px;
    
}

.ending-block{
    background-color: var(--fiery-rose);
}

.starting-block{
    background-color: var(--celadon-blue);
}

/* .log-left,
.log-right {
    background-color: var(--blue);
} */

/* .car-left,
.car-right{
    background-color: var(--black-8e);
} */

.frog{
    background-color: var(--lime-green);
}

.l1,
.l2,
.l3{
    background-color: var(--brown);
}

.l4,
.l5{
    background-color: var(--blue);
}

.c1{
    background-color: var(--onyx);
}
.c2,
.c3{
    background-color: var(--light-black);
}