:root{
    --portfolio-purple: #6E53A1;
    --darker-purple: #382B50;
    --darker-purple-opacity: hsla(262, 23%, 30%, 0.76);
    --lighter-purple: #D5BFFF;
    --languid-lavender: #DCCDE8;
    --fiery-rose: #f45b69;
    --fiery-rose-opacity: #f45b68a1;
    --celadon-blue: #0081A7;
    --celadon-blue-opacity: #0080a7a7;
    --gold-crayola: #EFC88B;
    --lime-green: #6BD425;
    --dark-sea-green: #7FB285;
    --mantis: #7DC95E;
    --atomic-tangerine: #F49D6E;
    --atomic-tangerine-opacity: #f49d6e6c;
    --black: #252525;
    --light-black: #25252536;
    --no-opacity: #ffffff00;
    --white: #ffffff;
    --brown: #A57548;
    --blue: #82DDF0;
    --onyx: #3C3C3C;
   }
   
   
   
body {
     /* font-family: 'Noto Sans Display', sans-serif; */
     /* font-family: 'Dela Gothic One', cursive; */
     /* font-family: 'Poller One', cursive; */
     font-family: Inconsolata, sans-serif;
     font-size: 15px;
     color: var(--darker-purple);
     margin: 0;
     
   }

   main{
    margin: 0;
   }

   main,
   main .div{

    text-align: center;
   }

   .game-title{
    background-color: var(--atomic-tangerine);
    margin: 0;
    padding: 30px 0px;
   }

   .grid-container{
    width: 100%;
    display: flex;
    justify-content: center;
   }
.directions-box{
    display: flex;
    justify-content: center;     
    width: auto;
    height: auto;
}

.play-again-box{
    display: none;
    justify-content: center;     
    width: auto;
    height: auto;
}

/* .play-again-directions{
    display: none;
} */

.directions{
	display: block;
    margin-top: 15vh;
	background-color: var(--blue);
	color: var(--black);
	position: absolute;
	z-index: 10;
	padding: 20px 30px;
	width: 300px;
	transition: 0.2s ease-in-out;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 7px 7px var(--darker-purple);
	-webkit-text-stroke-width: none;
}

.mobile-directions{
    display: none;
}

.desktop-directions{
    display: block;
}

.close-directions{
	background-color: var(--darker-purple);
	color: var(--white);
	border: solid 2px var(--blue);
	border-radius: 50px;
	width: 100%;
	/* padding: 10px 10px; */
}

.close-directions a{
    text-decoration: none;
    color: var(--white);

    
}

.close-directions:hover,
.close-directions a:hover{
	background-color: var(--blue);
	color: var(--darker-purple);
	border: solid 2px var(--darker-purple);
    cursor: pointer;
}

.closed{
	display: none;
	transition: 0.2s ease-in-out;
}

.directions-modal-bg,
.play-again-modal-bg{
	background-color: var(--darker-purple-opacity);
    background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 9;
	position: absolute;
	margin: 0;
	transition: 0.2s ease-in-out;
}


button .paused,
button .not-paused{
    margin-top: 60px;
}   

.not-paused{
    color: var(--white);
    background-color: var(--darker-purple);
    margin: 0px 0px 30px;
    padding: 10px 32px;
    border-radius: 20px;
    border: 1px solid var(--darker-purple);
}

.paused{
    color: var(--darker-purple);
    background-color: var(--white);
    margin: 0px 0px 30px;
    padding: 10px 32px;
    border-radius: 20px;
    border: 1px solid var(--darker-purple);
}

.grid{
    border: 1px solid var(--black);
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    transform: scale(2.3);
    margin-top: 160px;   
    
}

.grid div{
    height:20px;
    width: 20px;
    
}


.frog{    
    background-image: url(../img/frog-character.png);
    background-position: center;
    background-size: contain;
    
}

.frog-on-log{
    z-index: 10;
    background-color: var(--brown);
    background-image: url(../img/frog-character.png);
    background-position: center;
    background-size: contain;
}

.frog-lose{    
    z-index: 10;
    background-image: url(../img/frog-lose.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.frog-win{    
    z-index: 10;
    background-image: url(../img/frog-win.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ending-block{
    background-color: var(--lime-green);
    background-image: url(../img/lily-pad-full.jpg);
    background-position: center;
    background-size: contain;
}

.starting-block{
    background-color: var(--fiery-rose);
    /* background-image: url(../img/lily-pad-full.jpg); */
    background-position: center;
    background-size: contain;
}



.l1,
.l2,
.l3{
    background-color: var(--brown);
    /* border: solid 1px var(--black); */
    /* background-image: url(../img/log-texture.jfif); */
    background-position: center;
    /* background-size:contain; */
}

.l4,
.l5{
    background-color: var(--blue);
}

.c1{
    background-color: var(--light-black);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
}

.car-left.c1{    
    background-image: url(../img/car-left.png);
    transform: rotate(-90deg);
    
}

.car-right.c1{
        
        background-image: url(../img/car-right.png);
        transform: rotate(90deg);
        
    }


.c2,
.c3{
    background-color: var(--light-black);
}



.directions-container{
    display: none;
}


/*----------------------- FOOTER STYLES */
footer{
    display: flex;
    justify-content: center;
    margin-top: 175px;
}

footer div a{
    margin: 20px 0px 30px;
    color: var(--white);
    padding: 10px 32px;
    border-radius: 20pt;
    background: var(--fiery-rose);
     background: -moz-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
     background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--fiery-rose)), color-stop(100%, var(--celadon-blue)));
     background: -webkit-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
     background: -o-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
     background: -ms-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
     background: linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
     background-size: 400% 400%;
     -webkit-animation: errorBg 55s ease infinite;
     -moz-animation: errorBg 55s ease infinite;
     animation: errorBg 55s ease infinite;
     height: auto;
     transition: 0.3s ease-in-out;
     text-decoration: none;
}

.services-about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/* FOOTER STYLES END  */

/*---------------------------- MOBILE STYLES BEGIN */

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .directions{		
    top: 25%;
    /* left: 7%; */
    width: 20em;
    padding: 20px 30px;
}

.mobile-directions{
    display: block;
}

.desktop-directions{
    display: none;
}

  .grid{
    transform: scale(2.1);
    margin-top: 80px;
  }

  .directions-container{
    display: block;
    margin-top: 150px;
}

.left-right-buttons-container{
    display: flex;
    width: 390px;
    justify-content: space-evenly;
    
}
.left-button,
.right-button,
.up-button,
.down-button{
    background-color: var(--dark-sea-green);
    color: var(--white);
    border: 1px solid var(--dark-sea-green);
    padding: 12px 32px;
    border-radius: 30px;
}

  footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

}



      

/* MOBILE STYLES END */